<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">


      <div class="panel-heading clearfix">
            <h2 class="pull-left">{{contact?.name}}</h2>
        <div class="row">
          <div class="col-xs-12">
              <img [src]="contact?.imageUrl" alt="{{contact?.name}}" class="img-responsive pull-left" *ngIf="contact?.imageUrl">
              <span class="pull-right">
            <a routerLink="edit" class="btn btn-primary" type="button">Edit</a>
            <a (click) ="onDelete()" class="btn btn-danger" type="button">Delete</a>
        </span>  
        </div>
        </div>
      </div>


      <div class="panel-body">
        <div class="pull-left">
          <p class="list-group-item-title">
            <strong>Email: </strong>{{contact?.email}}
          </p>
          <p class="list-group-item-text">
                <strong>Phone: </strong>{{contact?.phone}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
