 <div class="row">
   <div class="col-xs-12">
     <div class="panel panel-default">
       <!-- col 9 and col -->
       <div class="panel-heading">
        <div class="row">
          <h4 class="title ">Contacts</h4>
        </div>
        <div class="row">
          <div class="input-group pull-left col-xs-7">
            
            <input
            type="text"
            (keyPress)="onKeyPress(searchBox.value)"
            #searchBox
            class="form-control"
            placeholder="Enter search value"
            [(ngModel)]="term">
            <!-- Add the search box input field here -->
    
            <div class="glyphicon glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
          </div>
          <div class="pull-right">
            <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
          </div>
        </div>
      </div>

       <div class="panel-body">
         <div class="row">
           <div class="col-xs-12">

             <cms-contact-item *ngFor="let contact of contacts | contactsFilter:term" [contact]="contact" dnd-draggable [dragEnabled]="true"
               [dragData]="contact" [dropZones]="['contactGroup']" ></cms-contact-item>



           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
